:root {
    --tekstkleur-text: #1d56ff;
    --navigatebalk: #000000;
    --backgound: #5EB1BF;
    --dachboard: #138A36;
    --dachboard-2: #04E824;
}

.logo {
    width: 70px;
    height: 70px;
}

section {
    padding: 60px 0;
}

  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }
  

  